@font-face {
    font-family: RobotoCondensed-Regular;
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: RobotoCondensed-Bold;
    src: url("../fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family: RobotoCondensed-Light;
    src: url("../fonts/RobotoCondensed-Light.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: 'RobotoCondensed-Regular', sans-serif;
    font-size: 16px;
}
h1{
    font-size: 36px;
}
h3{
    font-size: 24px;
}
a{
    text-decoration: none;
}

body{
    background-color: whitesmoke;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(50, 0, 107);
    color: whitesmoke;
    align-items: center;
    border-radius: 0 0 7px 7px;
    border-bottom: 3px solid rgb(157, 0, 230);
    position: sticky;
    z-index: 2;
    top: 0;
    flex-wrap: wrap;
    box-shadow: 0 10px 10px silver;
}

.page-title{
    padding: 15px 0;
}

header ul{
    list-style: none;
    display: flex;

}

.head-link-list li{
    padding: 3px 10px;
    transition: all 0.8s;
    border-radius: 15px;
    border: 1px solid rgb(50, 0, 107);
    margin: 0 2.5px;
    
}

.head-link-list li:hover{
    border-color: rgb(32, 0, 68);
    background-color: rgb(79, 0, 170);
    box-shadow: 0 0 5px gray;
}

.head-link-list a{
    color: whitesmoke;
}
/* блок bar */
.bar {
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(116, 116, 116);
    margin: 10px;
    box-sizing: border-box;
    color: rgb(63, 63, 63);
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.8s ease;
}
.bar:hover{
    box-shadow: 0 0 20px rgb(76, 76, 76);
    transform: scale(1.1);
}
/* Конец блока bar */
/* Скрытое меню */
.hidden-menu{
    width: 100%;
    background-color: rgb(157, 0, 230);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 10px silver;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.8s ease;
}
.hidden-menu a{
    color:rgb(224, 235, 255);
    font-size: 23px;
}
.hidden-menu a:hover{
    color: rgb(255, 255, 255);
}
.hidden-menu li{
    margin: 10px 0;
}
/* когда меню скрыто */
.unvis-hidden-menu{
    position: absolute;
    top: -50px;
    left: 0;
}
/* когда раскрываем меню */
.vis-hidden-menu{
    position: relative;
    top: -15px;
    left: 0;
}
/* конец скрытого меню */
.main-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 10%;
    color: rgb(73, 73, 73);
    min-height: calc(100vh - 145px);
}

.link-text, .l-link{
    color: rgb(157, 0, 230);
    border: 1px solid white;
    border-radius: 7px;
    transition: all 0.6s;
}

.link-text:hover, .l-link:hover{
    color: rgb(79, 0, 170);
    border-bottom-color: whitesmoke;
    box-shadow: 0 5px 5px silver;
    cursor: pointer;
}

.l-link{
    margin-bottom: 10px;
    text-align: start;
    padding-left: 5px;
}

main{
    display: flex;
    background-color: white;
    border-radius: 15px;
    min-height: 350px;
    width: 55%;
    box-shadow: 0 0 10px silver;
}


aside{
    display: flex;
    background-color: white;
    border-radius: 15px;
    height: 350px;
    width: 25%;
    box-shadow: 0 0 10px silver;
}

.main-text, .aside-text{
    width: 90%;
    margin: 0 5%;
    padding: 10px;
}

.main-text ul, .aside-text ul{
    list-style: circle;
    margin: 5% 10%;
}

.main-block li{
    padding: 5px 0;
}

footer{
    background-color: rgb(50, 0, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid rgb(157, 0, 230);
    height: 90px;
}
footer p{
    margin-right: 20px;
    font-size: 16px;
    color: whitesmoke;
}

footer ul{
    list-style: none;
    display: flex;
}

footer li{
    padding: 0 10px;
}

footer img{
    width: 48px;
    background-color: whitesmoke;
    border-radius: 50px;
    margin: 15px 0;
    transition: all 0.8s;
}

footer img:hover{
    background-color: rgb(224, 235, 255);
    transform: scale(1.1) rotate(10deg);
    box-shadow: 0 0 15px rgb(157, 0, 230);
}

.none {
    display: none;
}

@media(max-width: 1000px) {
    *{
        font-size: 18px;
    }
    .main-block{
        flex-direction: column;
        align-items: center;
    }
    main{
        width: 90%;
        height: fit-content;
    }
    aside{
        margin: 5%;
        width: 90%;
        height: fit-content;
    }
    .l-link{
        text-align: center;
    }
}

@media (max-width: 600px) {
    *{
        font-size: 20px;
    }
    h1{
        font-size: 32px;
        text-align: center;
    }
    h3{
        text-align: center;
    }
    header{
        position: relative;
        z-index: 2;
        box-shadow: none;
    }
    .page-title{
        margin: 5px 20px;
        text-align: center;
    }
    header ul{
        display: block;
        margin: 0 20px;
        text-align: center;
    }
    .head-link-list li{
        margin: 5px 0;
    }
}
@media (max-width: 370px){
    .bar{
        position: fixed;
        top: 70px;
        left: 77%;
        background: linear-gradient(to bottom right, blue, blueviolet 40%, rgb(194, 63, 255) 80%);
        color: rgb(224, 235, 255);
    }
    .unvis-hidden-menu{
        position: absolute;
        top: -60px;
        left: 0;
    }
    .vis-hidden-menu{
        position: relative;
        top: -15px;
        left: 0;
    }
}
@media (max-width: 300px){
    .vis-hidden-menu{
        position: relative;
        top: -15px;
        left: 0;
    }
}